In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import seaborn as sns
import os 
from pathlib import Path

In [49]:
#读取文件

# 要读取的 CSV 文件所在目录
csv_directory = r'./fub'  


# 读取目录下的所有 CSV 文件
csv_files = Path(csv_directory).rglob('*.csv')
#df = pd.DataFrame('')
for csv_file in csv_files:
    if '_' not in str(csv_file):
        print(csv_file)
        csv_data = pd.read_csv(csv_file)
        #print(csv_data)
        if 'df' in locals():
            df = csv_data
        else:
            df = pd.concat([df, csv_data], ignore_index=True)
        
df.head()

fub\MF01001\2023.csv
fub\MF01001\2024.csv
fub\MF01001\2025.csv
fub\MF01002\2023.csv
fub\MF01002\2024.csv
fub\MF01002\2025.csv
fub\MF02001\2023.csv
fub\MF02001\2024.csv
fub\MF02001\2025.csv

,time,AT,BG,BP,BS,BX,DO,DOPer,HU,NJD,...,WSE,WSM,WT,YBG,YLS,YZQ,ZBG,ZD,ZQ,ZZQ
0,202501010000,7.3,0.6,1023.2,188,261,/,/,46,/,...,11.4,9.7,8.6,1.0,/,5.4,1.6,/,5.3,5.2
1,202501010100,7.5,0.7,1023.2,183,258,/,/,46,/,...,10.8,10.0,8.6,1.0,/,5.7,1.4,/,5.5,5.7
2,202501010200,7.5,0.6,1024.0,180,266,/,/,43,/,...,9.6,8.3,8.6,0.9,/,5.8,1.2,/,5.6,6.0
3,202501010300,7.5,0.6,1024.0,194,267,/,/,47,/,...,9.4,8.0,8.5,0.9,/,5.5,1.3,/,5.1,5.2
4,202501010400,7.2,0.6,1023.9,200,264,/,/,50,/,...,8.8,7.9,8.5,1.0,/,5.0,1.9,/,5.0,5.2